.appContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
  gap: 10px;
}
.cardsContainer::after {
  content: "";
  flex: auto;
}

.genericFormContainer {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  width: 350px;

  border: 1px solid black;
  border-radius: 5px;
}
